################################
# Elasticsearch
################################

# Elasticsearch home directory
ES_HOME={{ elasticsearch_home_dir }}

# Elasticsearch configuration directory
{% if elasticsearch_major_version == "6" %}
# Renamed for ES 6
ES_PATH_CONF={{ elasticsearch_conf_dir }}
{% else %}
CONF_DIR={{ elasticsearch_conf_dir }}
{% endif %}

# Elasticsearch data directory
DATA_DIR={{ elasticsearch_data_dir }}

# Elasticsearch logs directory
LOG_DIR={{ elasticsearch_log_dir }}

# Elasticsearch PID directory
PID_DIR={{ elasticsearch_pid_dir }}

# Additional Java OPTS
{% if elasticsearch_java_opts %}
ES_JAVA_OPTS="{{ elasticsearch_java_opts|join(' ') }}"
{% else %}
#ES_JAVA_OPTS=
{% endif %}

# Configure restart on package upgrade (true, every other setting will lead to not restarting)
{% if elasticsearch_restart_on_upgrade %}
ES_RESTART_ON_UPGRADE={{ elasticsearch_restart_on_upgrade|string|lower }}
{% else %}
#ES_RESTART_ON_UPGRADE=true
{% endif %}

################################
# Elasticsearch service
################################

# SysV init.d
#
{% if elasticsearch_major_version != "6" %}
# When executing the init script, this user will be used to run the elasticsearch service.
# The default value is 'elasticsearch' and is declared in the init.d file.
# Note that this setting is only used by the init script. If changed, make sure that
# the configured user can read and write into the data, work, plugins and log directories.
# For systemd service, the user is usually configured in file /usr/lib/systemd/system/elasticsearch.service
ES_USER={{ elasticsearch_user }}
ES_GROUP={{ elasticsearch_group }}
{% endif %}

# The number of seconds to wait before checking if Elasticsearch started successfully as a daemon process
ES_STARTUP_SLEEP_TIME={{ elasticsearch_startup_sleep_time }}

################################
# System properties
################################

# Specifies the maximum file descriptor number that can be opened by this process
# When using Systemd, this setting is ignored and the LimitNOFILE defined in
# /usr/lib/systemd/system/elasticsearch.service takes precedence
MAX_OPEN_FILES={{ elasticsearch_max_open_files }}

# The maximum number of bytes of memory that may be locked into RAM
# Set to "unlimited" if you use the 'bootstrap.memory_lock: true' option
# in elasticsearch.yml.
# When using Systemd, the LimitMEMLOCK property must be set
# in /usr/lib/systemd/system/elasticsearch.service
{% if elasticsearch_max_locked_memory %}
MAX_LOCKED_MEMORY={{ elasticsearch_max_locked_memory }}
{% else %}
#MAX_LOCKED_MEMORY=unlimited
{% endif %}

# Maximum number of VMA (Virtual Memory Areas) a process can own
# When using Systemd, this setting is ignored and the 'vm.max_map_count'
# property is set at boot time in /usr/lib/sysctl.d/elasticsearch.conf
MAX_MAP_COUNT={{ elasticsearch_max_map_count }}
